@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600;1,700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --bg-card: #2a2634;
  --bg: #121214;
}

body {
  background: url("../images/Fundo.jpg") top no-repeat;
  background-size: cover;
  background-color: var(--bg);
}

#my-games {
  margin-bottom: 20px;
  background-color: var(--bg-card);
  border-radius: 25px;
}

#channel-list {
  margin-bottom: 20px;
  background-color: var(--bg-card);
  border-radius: 25px;
}

#my-socials {
  margin-bottom: 20px;
  background-color: var(--bg-card);
  border-radius: 25px;
}

#my-games,
#channel-list,
#my-socials {
  background: linear-gradient(#2a2634, #2a2634) padding-box,
    linear-gradient(90deg, #9572fc 0%, #43e7ad 50.52%, #e2d45c 100%) border-box;
  border-top: 4px solid transparent;
  border-radius: 2rem 2rem 0.8rem 0.8rem;
}

.cards ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  list-style: none;
}

.cards h2 {
  letter-spacing: -0.47px;
  margin-bottom: 5px;
  color: white;
}

.cards p {
  margin-bottom: 10px;
  color: #a1a1aa;
}

.my-games img {
  border-radius: 10px;
}

.channel-list img,
.my-socials img {
  border-radius: 70px;
}

.cards img:hover {
  transform: scale(1.1);
}

.card {
  padding: 32px;
  padding-top: 24px;
}

.avatar-linear-gradient {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, #9572fc 0%, #43e7ad 50.52%, #e2d45c 100%) border-box;
  border: 4px solid transparent;
  border-radius: 60px;
}

@media (max-width: 540px) {
  #my-games {
    width: 380px;
  }

  #channel-list {
    width: 380px;
  }

  #my-socials {
    width: 380px;
  }
}

header img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 15px auto;
}

main {
  max-width: 580px;
  width: 90%;
  margin: auto;

  display: grid;
  justify-content: center;
  align-items: center;
  gap: 24px;
}